//colors
$color_gallery_approx: #eee;
$color_smalt_blue_approx: #607d8b;

[class*='col-'] {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
	&:last-of-type {
		padding-right: 0;
	}
}
* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:after {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	&:before {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
}
h3 {
	text-align: center;
	margin-bottom: 0;
}
.grid {
	margin: 0;
}
.col-1-4 {
	width: 25%;
}
.module {
	padding: 20px;
	text-align: center;
	color: $color_gallery_approx;
	max-height: 120px;
	min-width: 120px;
	background-color: $color_smalt_blue_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	&:hover {
		background-color: $color_gallery_approx;
		cursor: pointer;
		color: $color_smalt_blue_approx;
	}
}
h4 {
	position: relative;
}
.grid-pad {
	padding: 10px 0;
	> [class*='col-']:last-of-type {
		padding-right: 20px;
	}
}
@media(max-width: 600px) {
	.module {
		font-size: 10px;
		max-height: 75px;
	}
}
@media(max-width: 1024px) {
	.grid {
		margin: 0;
	}
	.module {
		min-width: 60px;
	}
}